.wrapper {
  width: 100%;
  height: 100%;
}

.egg {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.button {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
