.saurus {
  position: absolute;
  bottom: 0;
}

.walking {
  animation-name: walking;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.toBowl {
  animation-name: toBowl;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

.toWalking {
  animation-name: toWalking;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes walking {
  0% {
    left: 0;
  }

  100% {
    left: 70%;
  }
}

@keyframes toBowl {
  50% {
    left: 80%;
  }

  100% {
    left: 80%;
  }
}

@keyframes toWalking {
  0% {
    left: 80%;
  }

  100% {
    left: 0;
  }
}
