.area {
  width: 100%;
  height: 100%;
}

.dino {
  position: absolute;
  bottom: 0;
  z-index: 10;
}

.feed {
  position: absolute;
  top: calc(100% - 30px);
  right: 56px;
  z-index: 10;
  animation-name: feed;
  animation-duration: 0.7s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

.bowl {
  position: absolute;
  bottom: 0;
  right: 0;
}

.hidden {
  display: none;
}

/* feed animation */
@keyframes feed {
  0% {
    top: 0;
  }

  100% {
    top: calc(100% - 30px);
  }
}

/* dino animation */
.walking {
  animation-name: walking;
  animation-duration: 18s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.toBowl {
  animation-name: toBowl;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

.toWalking {
  animation-name: toWalking;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

@keyframes walking {
  0% {
    left: 0;
  }

  100% {
    left: calc(100% - 250px);
  }
}

@keyframes toBowl {
  90% {
    left: calc(100% - 160px);
  }

  100% {
    left: calc(100% - 160px);
  }
}

@keyframes toWalking {
  0% {
    left: calk(100% - 160px);
  }

  100% {
    left: 0;
  }
}
