.container {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 236px;
  border-right: var(--borderWidth-thin, max(1px, 0.0625rem)) solid
    var(--borderColor-default);
  border-left: var(--borderWidth-thin, max(1px, 0.0625rem)) solid
    var(--borderColor-default);
  border-bottom: var(--borderWidth-thin, max(1px, 0.0625rem)) solid
    var(--borderColor-default);
}

.field {
  position: relative;
  width: 100%;
  height: 200px;
}

.fence {
  position: absolute;
  bottom: 0;
  z-index: 100;
  width: 900px;
}
