.grass {
  position: relative;
}

.img {
  transform: translate(-20px, -3px);
}

.img3 {
  transform: translate(-10px, -7px);
}

.tooltip {
  visibility: hidden;
  text-align: center;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 500ms;
  width: 120px;
  bottom: 110%;
  left: 50%;
  margin-left: -60px;
}

.tooltip > .text {
  background-color: #6b6b6b;
  color: #fff;
  padding: 4px 10px;
  border-radius: 6px;
  display: inline-block;
}

.tooltip > .text::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #6b6b6b transparent transparent transparent;
}

.grass:hover > .tooltip,
.grass:focus > .tooltip {
  visibility: visible;
  opacity: 1;
}
