.group {
  border: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.input {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}

.label {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-right: 18px;
    border-radius: 3px;
    transition: all .2s;
}

.input:checked + .label {
    background: #B54A4A;
    color: #fff;
    text-shadow: 0 0 1px rgba(0,0,0,.7);
}

.input:focus + .label {
    outline-color: #4D90FE;
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 5px;
}
